.services-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.001em;
  color: #333333;
}

.services-card-field-key {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.001em;
  color: #333333;
  margin-top: 10px;
}

.services-card-field-value {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #828282;
}

.services-row-border {
  border-style: none none dashed none;
  border-width: 1px;
  border-color: #BDBDBD;
  padding-bottom: 10px;
}
