.card-sign {
  border-radius: 10px !important;
  width: 625px;
  height: 94vh;
}

.sign-form-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  text-transform: capitalize;
  color: #333333;
}

.sign-above-image-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4f4f4f;
}

.form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}

.form-input {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
  height: 36px !important;
  border-radius: 10px !important;
  min-width: 368px;
}

.google-sign-button {
  background-color: white !important;
  border-radius: 10px !important;
  border: 2px solid #bdbdbd !important;
  box-sizing: border-box;
  height: 36px !important;
  color: black !important;
  width: 368px;
}

.facebook-sign-button {
  background-color: #3c5a9a !important;
  border-radius: 10px !important;
  border: 2px solid #bdbdbd !important;
  box-sizing: border-box !important;
  height: 36px !important;
  width: 368px;
}

.sign-social-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: "#828282" !important;
}
.submit-form {
  background: #4149b9 !important;
  box-shadow: 0px 7px 14px 2px rgba(65, 73, 185, 0.2) !important;
  width: 366px;
  height: 40px;
  border-radius: 14px !important;
  min-width: 368px;
}

.submit-form-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #f2f2f2;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 368px;
  color: #828282;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #828282;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.eye-icon {
  cursor: pointer;
}

.terms-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.alert-error {
  max-width: 368px;
  border-radius: 20px !important;
}

#modal-confirm-button {
  background-color: #4149b9;
  width:120px;
  border-radius: 20px !important;

}
